---
layout: default
---

<div class="home">
  
<p>The Chapter of Rose+Croix represents the natural extension of the maturity of a fully functioning Lodge and the elevations of the Lodge’s qualified membership into the ranks of the Lovers Triad.</p>
  
<blockquote>The members of the Fifth Degree are responsible for all that concerns the Social welfare of the Order. This grade is symbolically that of beauty and harmony; it is the natural stopping-place of the majority of men and women; for to proceed farther, as will appear, involves renunciation of the sternest kind. Here then is all joy, peace, well-being on all planes; the Sovereign Prince Rose Croix is attached equally to the higher and the lower, and forms a natural link between them. Yet let him look to it that his eyes are set on high!</blockquote>

<p><a href="http://lib.oto-usa.org/libri/liber0194.html" target="_blank">An Intimation with Reference to the Constitution of the Order</a> (excerpt)</p>

<p>Psyche-Eros Rose Croix Chapter is honored to support and mentor the following local bodies:</p>

<ul>
	<li><p><a href="http://sekhetmaat.com/main/" target="_blank">Sekhet-Maat Lodge</a></li>
	<li><p><a href="https://www.facebook.com/KhephraRising/" target="_blank">Khephra Rising Camp</a></li>	
</ul>

</div>